/* Hasan KONYA 18.06.2022 */
/*
  LAYOUT CSS
*/
.SettingLayout {
  width: 25%;
  min-width: 25%;
  height: 100vh;
  display: block;
  float: left;
  background: #FFFFFF;
}
/*
  GENERAL SETTINGS LAYOUT - FORM ELEMENTS CSS
*/
.form-title {
  display: block;
  font-size: 24px;
  color: #000000;
  line-height: 29.05px;
  padding-top: 81px;
  padding-left: 65px;
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  text-decoration-line: underline;
}
.label-input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
input.settings-input {
  display: block;
  width: 85%;
  background: transparent;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding: 0 13px;
}

.settings-form {
  width: 70%;
  display: block;
  padding: 33px 55px 55px 65px;
}
input.settings-input {
  height: 48px;
}
textarea.settings-input {
  min-height: 93px;
  padding-top: 14px;
  padding-bottom: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: block;
  width: 85%;
  background: transparent;
  color: #000000;
  padding: 5px 13px;
}
input {
  outline: none;
  border: none;
}
textarea {
  overflow: auto;
  resize: vertical;
  outline: none;
  border: none;
}
