/* Hasan KONYA 18.06.2022 */
@import url("https://fonts.googleapis.com/css2?family=Inter");
/*
APP CSS
*/
.App {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
  min-height: 0;
}
input {
  outline: none;
  border: none;
}
textarea {
  overflow: auto;
  resize: vertical;
  outline: none;
  border: none;
}
.item {
  margin-bottom: 15px;
}
.input-group {
  border: 1px solid #d2dae3;
  border-radius: 8px;
}
* {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
